# Tuples in Python

creating a tuple

In [4]:
my_tuple = (1,2,3,3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3, 3)
<class 'tuple'>

In [16]:
a = (1,"hello",1.1,5+5j)
print(a)

(1, 'hello', 1.1, (5+5j))

# empty tuple

In [17]:
a = ()
print(a)
print(type(a))

()
<class 'tuple'>

# nested tuple

In [18]:
a = ("data",[1,2,3],(1,2,3))
print(a)
print(type(a))

('data', [1, 2, 3], (1, 2, 3))
<class 'tuple'>

In [19]:
var = ("hello")
print(var)
print(type(var))

hello
<class 'str'>

In [20]:
var = ("hello",)
print(var)
print(type(var))

('hello',)
<class 'tuple'>

# tuple constructor

In [22]:
a = tuple(("a","b","c"))

print(a)
print(type(a))

('a', 'b', 'c')
<class 'tuple'>

# Indexing

In [24]:
a = (22,234,21,434,232,4,334,34)
print(a[2])
print(a[-2])

21
334

In [25]:
a = (22,234,21,434,232,4,334,34,"data")
print(a[-1])

data

# slicing

In [27]:
a = (22,234,21,434,232,4,334,34,"data")
len(a)
print(a[0:3])

(22, 234, 21)

In [28]:
a = (22,234,21,434,232,4,334,34,"data")

print(a[:3])

(22, 234, 21)

In [30]:
a = (22,234,21,434,232,4,334,34,"data")
len(a)
print(a[:])

(22, 234, 21, 434, 232, 4, 334, 34, 'data')

In [31]:
a = (22,234,21,434,232,4,334,34,"data")
print(a[::2])

(22, 21, 232, 334, 'data')

# reverse tuple

In [33]:
a = (22,234,21,434,232,4,334,34,"data")
print(a[::-1])

('data', 34, 334, 4, 232, 434, 21, 234, 22)

In [34]:
a = (22,234,21,434,232,4,334,34,"data")
print(a[::])
print(a[3:])
print(a[:4])
print(a[-2:-5])

(22, 234, 21, 434, 232, 4, 334, 34, 'data')
(434, 232, 4, 334, 34, 'data')
(22, 234, 21, 434)
()

# tuple to list conert

In [36]:
a = (222,22,34,33,345,2334)
y = list(a)
y.append(30)
a = tuple(y)
print(a)

(222, 22, 34, 33, 345, 2334, 30)

In [37]:
a = (222,22,34,33,345,2334)
y = list(a)
y.remove(22)
a = tuple(y)
print(a)

(222, 34, 33, 345, 2334)

In [38]:
a = (222,22,34,33,345,2334)
del a

In [39]:
print(a)

NameError: name 'a' is not defined

# loop

In [40]:
this = ("a","b","c")
for a in this:
    print(a)

a
b
c

# join two tuple

In [41]:
t1 = (1,2,3,4)
t2 = ("a","b")
t3 = t1+t2
print(t3)

(1, 2, 3, 4, 'a', 'b')

# tuple multiply

In [42]:
a = ("a","b","c")
b =a*2
print(b)

('a', 'b', 'c', 'a', 'b', 'c')

In [43]:
a = (1,2,3,4,5,6,7,8)
print(a*2)
print(a+a+a)
print(a+a)
print(len(a))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
8

# write a program to take 5 input from the user and store it in tuple

In [44]:
t = ()
i =0
while i<=5:
    num = int(input("enter the values "))
    t = t + (num,)
    i = i+1
    print(t)

enter the values 1
(1,)
enter the values 2
(1, 2)
enter the values 3
(1, 2, 3)
enter the values 4
(1, 2, 3, 4)
enter the values 5
(1, 2, 3, 4, 5)
enter the values 6
(1, 2, 3, 4, 5, 6)